#funcionamento {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
}

#funcionamento h2 {
    font-size: 3em;
}

.bg-black {
    background-image: linear-gradient(30deg, #01030c 30%, #071446);
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    gap: 70px;
    padding: 30px;
}

.horas {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 4px;
    padding: 25px 40px;
    position: relative;
}

.horas::after {
    content: '';
    width: 50px;
    height: 10px;
    background-image: linear-gradient(45deg, #081133, #2b58e9);
    position: absolute;
    rotate: 90deg;
    top: 46px;
    left: -25px;
}

.horas p {
    color: #808080;
    font-size: .8rem;
    margin-bottom: 10px;
}

.horas h3 {
    color: #01040F;
    font-size: 1.3rem;
}

.horarios {
    scroll-margin: 200px;
}